[Desktop Entry]
Version=1.0
Name=Download_Video
Comment=Download Youtube Videos
Exec=./downloadvideo.sh
Terminal=false
Type=Application  
Icon=terminal
Categories=Application;
